<a href="https://colab.research.google.com/github/IsuruMahakumara/MovieRecommender/blob/Test/Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from os import listdir
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

import matplotlib.pyplot as plt
import seaborn as sns
import time

In [ ]:
dir = '/content/drive/MyDrive/Daraz-Assigment/unzipped/'

file_list = listdir(dir)

file_list.remove('readme.txt')  #13 Data Files

In [ ]:
movie_countries = pd.read_csv(dir+'movie_countries.dat', sep='\t', encoding='cp1252') 

movie_directors = pd.read_csv(dir+'movie_directors.dat', sep='\t', encoding='cp1252') 

movie_genres = pd.read_csv(dir+'movie_genres.dat', sep='\t', encoding='cp1252') 

movie_tags = pd.read_csv(dir+'movie_tags.dat', sep='\t', encoding='cp1252') 

tags = pd.read_csv(dir+'tags.dat', sep='\t', encoding='cp1252') 

movie_locations = pd.read_csv(dir+'movie_locations.dat', sep='\t', encoding='cp1252') 

movies = pd.read_csv(dir+'movies.dat', sep='\t', encoding='cp1252') 

user_taggedmovies_timestamps = pd.read_csv(dir+'user_taggedmovies-timestamps.dat', sep='\t', encoding='cp1252') 

user_taggedmovies = pd.read_csv(dir+'user_taggedmovies.dat', sep='\t', encoding='cp1252') 

user_ratedmovies_timestamps = pd.read_csv(dir+'user_ratedmovies-timestamps.dat', sep='\t', encoding='cp1252') 

user_ratedmovies = pd.read_csv(dir+'user_ratedmovies.dat', sep='\t', encoding='cp1252') 

movie_actors = pd.read_csv(dir+'movie_actors.dat', sep='\t', encoding='cp1252')

In [ ]:
#Wrangling movies.dat

movies_noisy_col =['imdbID', 'spanishTitle', 'imdbPictureURL', 'rtID', 'rtPictureURL']  # 
movies_rating_col = ['rtAllCriticsRating','rtAllCriticsNumReviews', 'rtAllCriticsNumFresh', 'rtAllCriticsNumRotten', 'rtAllCriticsScore','rtTopCriticsRating',
       'rtTopCriticsNumReviews', 'rtTopCriticsNumFresh','rtTopCriticsNumRotten', 'rtTopCriticsScore','rtAudienceRating',
       'rtAudienceNumRatings', 'rtAudienceScore']


#Converting object to float
for col in movies_rating_col:
  movies[col] = pd.to_numeric(movies[col], errors='coerce')

#Compute mean rating 
movies["Mean Rating"] = movies[movies_rating_col].mean(axis=1)

#Min-Max Normalize the mean Rating
from sklearn.preprocessing import MinMaxScaler
x =movies["Mean Rating"].values.reshape(10197,1)
rating_scaled = MinMaxScaler().fit_transform(x)
movies["Mean Rating"] = rating_scaled


#Removing noisy columns
movies = movies.drop(columns=movies_noisy_col)
movies = movies.drop(columns=movies_rating_col)

#Rename id to moiveID for consistency
movies.rename(columns={'id':'movieID'}, inplace=True)

In [ ]:
#movie directors.dat    movies_countries.dat


movie_directors.drop(['directorName'], axis=1, inplace=True)
movies  = movies.merge(movie_directors,on='movieID')



##Wrangling movie_actors.dat
movie_actors.drop(['actorName'], axis=1, inplace=True)
#Selecting the top two actors
movie_actors = movie_actors.loc[movie_actors['ranking']<3]
#Return top two actors into one field
movie_actors['actorID'] = movie_actors['actorID'] + "  "
actors = movie_actors.groupby('movieID')["actorID"].sum()
movie_actors = pd.DataFrame(actors)

#Merge with movies
movies = movies.merge(movie_actors, on = 'movieID')




#Wrangling movie_genres.dat
#Returning genres to one field
movie_genres['genre'] = movie_genres['genre'] +" "
genres = movie_genres.groupby(['movieID'])['genre'].sum()
genres = pd.DataFrame(genres)
#Mergin with movies
movies = movies.merge(genres, on='movieID')

movies.drop(columns=['Mean Rating'], inplace=True)


movies.tail()

before director  merge (10197, 4)
before actor merge (10155, 5)
before genre merge (10134, 6)

       movieID  ...                       genre
10129    65088  ...  Adventure Children Comedy
10130    65091  ...        Crime Drama Romance
10131    65126  ...               Comedy Drama
10132    65130  ...              Drama Romance
10133    65133  ...                     Comedy

[5 rows x 6 columns]

In [ ]:
movies['year'] = movies['year'].astype('str')

movies ['Key'] = movies['directorID']+' '+movies['actorID']+' '+movies['genre']+' '+movies['year']
movies[['year', 'title', 'Key']].head()

   year  ...                                                Key
0  1995  ...  john_lasseter tim_allen  tom_hanks   Adventure...
1  1995  ...  joe_johnston bonnie_hunt  robin_williams   Adv...
2  1993  ...  donald_petrie jack_lemmon  walter_matthau   Co...
3  1995  ...  forest_whitaker angela_bassett  whitney_housto...
4  1995  ...  charles_shyer diane_keaton  steve_martin   Com...

[5 rows x 3 columns]

In [115]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
X_csr = cv.fit_transform(movies['Key'])
cosine_sim = cosine_similarity(X_csr)

In [187]:
##Cosine similarity

MovieIndx=1
No_of_Similar_movies = 13

similar_movies = list(enumerate(cosine_sim[MovieIndx]))
similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
top = similar_movies[0:No_of_Similar_movies]

rec = pd.DataFrame(top, columns=['movieIndex', 'Similarity'])   
movies[['title','year','genre']].iloc[rec.movieIndex.values]

                                            title  ...                                         genre
58                     The Indian in the Cupboard  ...                   Adventure Children Fantasy
8465                           Magic in the Water  ...                   Adventure Children Fantasy
1887                                    Tall Tale  ...           Adventure Children Fantasy Western
0                                       Toy story  ...  Adventure Animation Children Comedy Fantasy
247                  A Kid in King Arthur's Court  ...    Adventure Children Comedy Fantasy Romance
2857                                    Toy Story  ...  Adventure Animation Children Comedy Fantasy
1838                     Honey, I Shrunk the Kids  ...     Adventure Children Comedy Fantasy Sci-Fi
137                   The Amazing Panda Adventure  ...                           Adventure Children
149                                        Casper  ...                           Adventure Children
227   Far from Home: The Adventures of Yellow Dog  ...                           Adventure Children
699     Gold Diggers: The Secret of Bear Mountain  ...                           Adventure Children
7                                    Tom and Huck  ...                           Adventure Children
43                                  Mortal Kombat  ...                     Action Adventure Fantasy

[13 rows x 3 columns]

In [118]:
rating =  user_ratedmovies_timestamps.pivot(index='userID',columns='movieID',values='rating')
rating.fillna(0,inplace=True)
rating.head()

movieID  1      2      3      4      5      ...  65088  65091  65126  65130  65133
userID                                      ...
75         0.0    0.0    1.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
78         0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
127        0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
170        3.0    2.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
175        4.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 10109 columns]

In [183]:
#Prediction Of Rating Using Singular Value Decomposition 
R = rating.values
R_mean = np.mean(R, axis = 1).reshape(-1,1)
R_demeaned = R - R_mean


from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 100)
sigma = np.diag(sigma)
predicted_R = np.dot(np.dot(U, sigma), Vt) + R_mean
predicted_R = pd.DataFrame(predicted_R, index=rating.index, columns=rating.columns)

In [173]:
predicted_R.head()

movieID     1         2         3      ...     65126     65130     65133
userID                                 ...
75       0.085647  0.213415  0.110423  ...  0.003159 -0.007042  0.001275
78       2.370667  0.294171 -0.675386  ...  0.027863 -0.002353  0.039496
127      0.010428  0.047469  0.015976  ...  0.003912  0.000879 -0.001528
170      1.181997  0.766787  0.264725  ...  0.000242 -0.009939  0.017452
175      3.224798  0.821154  0.232838  ... -0.007199 -0.003874 -0.030449

[5 rows x 10109 columns]

In [188]:

import math
UserID= 175

#def Eval_Pred_rating(UserID):
True_rating = rating.iloc[UserID]
True_rating = True_rating[True_rating!=0]
rated_movieID = True_rating.index.to_list()

min = predicted_R.iloc[UserID].describe()[3]
max = predicted_R.iloc[UserID].describe()[7]
div = max-min

pred_rating = predicted_R.iloc[UserID].loc[rated_movieID]

RMSE_df = True_rating.to_frame(name='True')
RMSE_df['Predicted'] = pred_rating/div
RMSE_df['SE'] = (RMSE_df['Predicted'] - RMSE_df['True'])**2

N = RMSE_df.shape[0]
SE_sum = RMSE_df['SE'].sum()
RMSE = math.sqrt(SE_sum/N)

  #return RMSE

predicted_R.iloc[UserID].describe()

count    10109.000000
mean         0.010090
std          0.052953
min         -0.284827
25%         -0.005752
50%          0.007641
75%          0.020278
max          1.594233
Name: 6302, dtype: float64

In [ ]:


def get_index(title):
    item = movies[movies.title == title]["index"].values[0]
    return print(item)


def get_title(movieID):
  title = movies['title'].loc[movies['movieID']==movieID].values[0]
  return title

In [ ]:
recom_ID = movies.iloc[recom_Index]['movieID'].values


predicted_R.describe()

movieID        1            2      ...        65130        65133
count    2113.000000  2113.000000  ...  2113.000000  2113.000000
mean        2.219115     1.086747  ...     0.001139     0.005479
std         1.502008     1.023272  ...     0.019885     0.042039
min        -0.906743    -0.912549  ...    -0.126222    -0.255319
25%         0.934773     0.229846  ...    -0.007820    -0.012340
50%         2.090724     0.868439  ...    -0.000533     0.002123
75%         3.340417     1.745138  ...     0.007728     0.019704
max         7.485096     6.087112  ...     0.206043     0.643432

[8 rows x 10109 columns]

In [ ]:
User_ratedMovies = rating.iloc[75].apply(lambda x:x!=0)
watched = User_ratedMovies[User_ratedMovies].index.values.reshape(1,-1)

User_ratedMovies.head()

movieID
1    False
2    False
3    False
4    False
5    False
Name: 2477, dtype: bool

In [103]:
#Select the 05 most recent and highest rated movies of UserID
User_ratedMovies = rating.iloc[75].apply(lambda x:x>4)
sample = User_ratedMovies[User_ratedMovies]#.index.values
#sample = np.random.choice(sample, 5)
sample_index = movies.loc[movies['movieID'].isin(sample)].index.values

In [109]:
User_ratedMovies = rating.iloc[175].sort_values(ascending=False)[0:10]#.apply(lambda x:x>4) ## Movies with rating>4

User_ratedMovies.index.values

array([ 1039,  4136,   404,   769, 31410, 33603,  8973,  3062,  3967,
        5952])

In [112]:
##API returning movies 


def Recommendations(UserID, N_recommendations):

##Select movieIds of  #(N_recommendations)  samples of  highest rated movies seen by  UserID 
  sample = rating.iloc[UserID].sort_values(ascending=False)[0:N_recommendations].index.values 
  
  #Select indices of the movieIDs
  sample_index = movies.loc[movies['movieID'].isin(sample)].index.values ## indices as in movies dataframe NOT movieID
  print("size of sample: ", sample.shape[0])

  

##Recommending Similar Movies via Cosine Similarity  
  recom_Index = np.zeros(N_recommendations, dtype=int) ## to Store indices of the recommended movies
  
  #Selecting the most similar movie for each sample movie
  for i in range(N_recommendations):
    similar_movies = cosine_sim[sample_index[i]].reshape(-1,1)
    similar_movies = pd.DataFrame(similar_movies, columns=['Similarity']).sort_values(by =['Similarity'], ascending=False)[1:2].index.values
    recom_Index [i]= similar_movies

  #Returning Corresponding movieID
  recom_ID = movies.iloc[recom_Index]


 

  return recom_ID[['movieID',	'title',	'year', 'genre'	]]

In [114]:
#Cos_recom = Recommendations(127,10)['movieID'].values
Recommendations(170,10)

size of sample:  10

      movieID              title  year                         genre
7995    25934      The Godfather  1972                Drama Western
5097     5459    Men in Black II  2002         Action Comedy Sci-Fi
2786     3040          Meatballs  1979                       Comedy
1654     1869          Black Dog  1998              Action Thriller
2347     2581  Never Been Kissed  1999               Comedy Romance
2558     2804  A Christmas Story  1983              Children Comedy
9918    61132     Tropic Thunder  2008  Action Adventure Comedy War
4409     4746  Waking Up in Reno  2002               Comedy Romance
5056     5416            Cherish  2002        Comedy Drama Thriller
6990     7458               Troy  2004   Action Adventure Drama War

In [61]:
#Evaluations

recom_ID = Recommendations(75,10)['movieID'].values

def Precision(recom_ID, UserID):


#MinMax Scaling
  min = predicted_R.iloc[UserID].describe()[3]
  max =  predicted_R.iloc[UserID].describe()[7]

  Rating_for_UserId = predicted_R[recom_ID].iloc[UserID].to_frame(name='Unscaled')
  Rating_for_UserId['Scaled'] = (Rating_for_UserId['Unscaled'] - min)/(max-min)

  Pred_for_UserId = Rating_for_UserId.loc[Rating_for_UserId['Scaled'] >0.5 ].index.values

#hits = np.isin(Cos_recom, Pred_for_UserId).sum()

  Rating_for_UserId
  precision = hits/10
  return precision

0.1

In [67]:
UserID = 170

recom_ID = Recommendations(UserID,10)['movieID'].values
Precision(recom_ID, UserID)

0.1